{% if page.topo-book %}
  <span class="post-date">
    Topo:
    {% case page.topo-book %}
      {% when 'genusskletteratlas' %}<a href="http://schall-verlag.at/index.php?option=com_content&id=158">Genusskletter-Atlas Niederösterreich</a> (2. Auflage 2012)
      {% when 'klettersteigatlas' %}<a href="http://schall-verlag.at/index.php?option=com_content&id=168">Klettersteig-Atlas Österreich</a> (6. Auflage 2020)
      {% when 'schneebergrax' %}<a href="http://www.styriabooks.at/article/4421">Bergerlebnis Schneeberg + Rax</a> (4. Auflage 2013)
      {% when 'ötscher' %}<a href="https://www.rother.de/rother%20wanderf%FChrer-%F6tscher%20-%20mariazell-4026.htm">Rother Wanderführer: Ötscher</a> (4. Auflage 2010)
      {% when 'csaba_wienerhausberge' %}Csaba Szépfalusi: Bergtouren-Highlights Wiener Hausberge (Kral-Verlag, 1. Auflage 2014)
      {% when 'behm_hohewand' %}Thomas Behm: <a href="http://www.thomasbehm.at/project/fuehrer-auf-die-hohe-wand-750-anstiege-von-1-bis-6/">Führer auf die Hohe Wand</a> (Ausgabe 2012)
      {% else %}{{ page.topo-book }}
    {% endcase %}
    {% if page.topo-page %}
      Seite {{ page.topo-page }}
    {% endif %}
  </span>
{% endif %}
