---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">
    am {% assign m = page.date | date: "%-m" %}
    {{ page.date | date: "%-d" }}.
    {% case m %}
      {% when '1' %}J&auml;nner
      {% when '2' %}Februar
      {% when '3' %}M&auml;rz
      {% when '4' %}April
      {% when '5' %}Mai
      {% when '6' %}Juni
      {% when '7' %}Juli
      {% when '8' %}August
      {% when '9' %}September
      {% when '10' %}Oktober
      {% when '11' %}November
      {% when '12' %}Dezember
    {% endcase %}
    {{ page.date | date: "%Y" }}
    {% if page.map %}
      | <a href="{{ site.baseurl }}/assets/maps/{{ page.map }}" data-lightbox="{{ page.id }}">Karte</a>
    {% endif %}
  </span>
  {{ content }}
</div>

<div class="related">
  {% include biblio.html %}
  <span class="post-date">
    Tags: {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}">{{ tag }}</a>{% unless forloop.last %}&nbsp;|&nbsp;{% endunless %}{% endfor %}
  </span>
  {% if page.previous %}
    <span class="post-date">
      Vorher:
      <a href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title }}</a>
      im {% assign m = page.previous.date | date: "%-m" %}
      {% case m %}
        {% when '1' %}J&auml;nner
        {% when '2' %}Februar
        {% when '3' %}M&auml;rz
        {% when '4' %}April
        {% when '5' %}Mai
        {% when '6' %}Juni
        {% when '7' %}Juli
        {% when '8' %}August
        {% when '9' %}September
        {% when '10' %}Oktober
        {% when '11' %}November
        {% when '12' %}Dezember
      {% endcase %}
      {{ page.previous.date | date: "%Y" }}
    </span>
  {% endif %}
  {% if page.next %}
    <span class="post-date">
      Danach:
      <a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}</a>
      im {% assign m = page.next.date | date: "%-m" %}
      {% case m %}
        {% when '1' %}J&auml;nner
        {% when '2' %}Februar
        {% when '3' %}M&auml;rz
        {% when '4' %}April
        {% when '5' %}Mai
        {% when '6' %}Juni
        {% when '7' %}Juli
        {% when '8' %}August
        {% when '9' %}September
        {% when '10' %}Oktober
        {% when '11' %}November
        {% when '12' %}Dezember
      {% endcase %}
      {{ page.next.date | date: "%Y" }}
    </span>
  {% endif %}
  {% comment %}
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
  {% endcomment %}
</div>
